@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    
}

button{
    @apply text-lg font-semibold rounded-md border hover:bg-gray-100
}

#equals-btn{
    @apply hover:bg-[#00308f] hover:opacity-90
}

.loading-container {
  height: 4px;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.loading-line {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: -100%;
  background-color: #3498db;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

button[disabled]{
    @apply opacity-50
}